* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: hsl(210, 46%, 95%);
}

.avatar {
    margin-top: 25px;
    margin-left: 25px;
    width: 40px;
    border-radius: 50%;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

h1 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    padding: 5%;
    font-weight: 700;
    color: hsl(217, 19%, 35%);

}

p {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    padding: 5%;
    margin-top: 25px;
    color: hsl(214, 17%, 51%);
    font-weight: 500;

}

.share {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    margin-left: 440px;
    margin-top: 30px;
    background-color: hsl(210, 46%, 95%);
    padding: 10px;
    border-radius: 100%;
    cursor: pointer;
}

.share:hover {
    background-color: hsl(217, 19%, 35%);
}

.nome {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    margin-left: 50px;
    margin-top: -1px;
    color: hsl(217, 19%, 35%);
    font-size: 13px;
    font-weight: 700;
}

.data {
    color: hsl(214, 17%, 51%);
    margin-left: 50px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 13px;

}

.container {
    box-shadow: 5px 5px 100px rgba(0, 0, 0, 0.251);
    border-radius: 10px;
    margin-top: 200px;
    width: fit-content;
    margin-left: 20%;
    display: grid;
    grid-template-columns: 300px 500px;
    grid-template-rows: 100px 100px 100px;
    background-color: white;
}

.furniture {
    width: 300px;
    height: 300px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 10px 0 0 10px;
}

.icones {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: hsl(217, 19%, 35%);
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    margin-left: 1100px;
    margin-top: -75px;
    gap: 10px;
    padding: 10px 30px 10px 30px;
}

.aparece {
    display: none;
}

img {
    cursor: pointer;
}

.compartilhar {
    padding: 0px;
    margin-top: 0px;
    margin-right: 5px;
    color: hsl(214, 17%, 51%);
    font-weight: 500;
    font-size: 13px;
}

@media screen and (max-width: 375px) {
    body {
        display: flex;
        width: 100%;
        flex-direction: column;
        min-height: 100vh;
        background-color: white;
        align-items: center;
    }

    .container {
        box-shadow: none;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        margin-top: 0;
        width: fit-content;
        background-color: white;
        min-height: 100%;
    }

    .furniture {
        width: 375px;
        height: 100%;
        border-radius: 10px 0 0 10px;
    }

    h1 {
        padding: 10% 5% 0% 5%;
        font-weight: 500;
        color: hsl(217, 19%, 35%);
    }

    p {
        /* padding: 5%; */
        margin-top: 10px;
        color: hsl(214, 17%, 51%);
        font-weight: 500;

    }

    .share {
        background-color: hsl(210, 46%, 95%);
        padding: 10px;
        width: 40px;
        margin-left: 300px;
        margin-top: -50px;
    }

    #sobreposto:hover {
        background-color: hsl(217, 19%, 35%);
    }

    .nome {
        margin-left: 60px;
        margin-top: -50px;
        color: hsl(217, 19%, 35%);
        font-size: 13px;
        font-weight: 700;
    }

    .data {
        color: hsl(214, 17%, 51%);
        margin-left: 60px;
        margin-top: -35px;
        font-size: 13px;
    }

    .icones {
        display: flex;
        flex-direction: row;
        position: absolute;
        align-items: center;
        background-color: hsl(217, 19%, 35%);
        width: 375px;
        height: fit-content;
        border-radius: 0;
        margin-left: 0;
        margin-top: 630px;
        gap: 15px;
        padding: 20px 30px 20px 30px;
    }

    #sobreposto {
        background-color: hsl(210, 46%, 95%);
        padding: 7px;
        width: 30px;
        margin-left: 110px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .aparece {
        display: none;
    }
}